#idempiereEnv.properties
#Tue Jun 30 07:46:52 UTC 2020
ADEMPIERE_DB_SERVER={{role_idempiere_setup_var_database_server_host_name}}
ADEMPIERE_APPS_SERVER={{role_idempiere_setup_var_application_server_host_name}}
ADEMPIERE_DB_VERSION=2019-11-22
ADEMPIERE_FTP_PASSWORD=user@host.com
IDEMPIERE_JAVA_OPTIONS={{role_idempiere_setup_var_idempiere_java_options}}
ADEMPIERE_KEYSTORECODEALIAS=idempiere
ADEMPIERE_DATE_VERSION=2019-11-22
ADEMPIERE_DB_NAME={{role_idempiere_setup_var_database_name}}
JAVA_HOME={{role_idempiere_setup_var_java_home}}
ADEMPIERE_DB_USER={{role_idempiere_setup_var_database_user}}
ADEMPIERE_MAIN_VERSION=Release 7.1
ADEMPIERE_DB_EXISTS=Y
ADEMPIERE_MAIL_SERVER={{role_idempiere_setup_var_mail_server_host_name}}
ADEMPIERE_DB_PASSWORD={{role_idempiere_setup_var_database_password}}
ADEMPIERE_KEYSTOREWEBALIAS=idempiere
ADEMPIERE_CERT_COUNTRY=sk
ADEMPIERE_CERT_STATE=sk
ADEMPIERE_DB_URL=jdbc\:postgresql\://localhost\:5432/idempiere
ADEMPIERE_WEB_PORT={{role_idempiere_setup_var_application_server_web_port}}
ADEMPIERE_MAIL_USER={{role_idempiere_setup_var_mail_user_login}}
ADEMPIERE_KEYSTORE=/home/idempiere/idempiere-server/jettyhome/etc/keystore
ADEMPIERE_DB_PATH=postgresql
ADEMPIERE_FTP_SERVER=localhost
ADEMPIERE_WEB_ALIAS=ip-172-31-60-195.ec2.internal
ADEMPIERE_MAIL_UPDATED=
ADEMPIERE_ADMIN_EMAIL=
ADEMPIERE_KEYSTOREPASS=myPassword
ADEMPIERE_FTP_USER=anonymous
ADEMPIERE_SSL_PORT={{role_idempiere_setup_var_application_server_ssl_port}}
ADEMPIERE_DB_PORT={{role_idempiere_setup_var_database_server_port}}
ADEMPIERE_FTP_PREFIX=my
ADEMPIERE_MAIL_PASSWORD=
ADEMPIERE_DB_SYSTEM={{role_idempiere_setup_var_database_system_user_password}}
ADEMPIERE_DB_TYPE=PostgreSQL
IDEMPIERE_HOME={{role_idempiere_setup_var_idempiere_home}}
